<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <style type="text/css">
    #mapid, #formulaire {display: inline-block; *display: inline; zoom: 1; vertical-align: top;  margin: 25px;}
    #mapid {width: 65%; height: 900px;}
    #formulaire {width: 25%}
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="mapid"></div>
      <script>
        var mymap = L.map('mapid').setView([45.5, -73.67], 12);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox.streets'
        }).addTo(mymap);
        </script>
      <div id="formulaire" align="center">
        <br/>
        <h1>Veuillez entrer les dates désirées.</h1><br/>
        <form>
          <fieldset class="form-group">
            <label>Première date:</label>
            <input type="date"/>
          </fieldset>
          <fieldset class="form-group">
            <label>Deuxième date:</label>
            <input type="date"/>
          </fieldset>
          <fieldset class="form-group">
            <input type="submit" value="Submit"/>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>