<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css'
          rel='stylesheet'/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css'
          rel='stylesheet'/>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/foodtrucks.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type='text/javascript'
            src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>

    <link rel="stylesheet" href="css/styles.css" type="text/css"/>

</head>
<body>
<div id="list" class="list">
    <ul>
        <li><a href="#"> Se connecter</a></li>
    </ul>
</div>
<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-md-12">
            <div id="mapid"></div>
            <div id="formulaire" align="center">
                <h1>Veuillez entrer les dates désirées.</h1><br/>
                <form id="form">
                    <fieldset class="form-group">
                        <label>Première date(AAAA-MM-JJ):</label>
                        <input type="date" id="firstDate"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Deuxième date(AAAA-MM-JJ):</label>
                        <input type="date" id="lastDate"/>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" value="Rechercher"/>
                    </fieldset>
                </form>
                    <button id='today'>Aujourd'hui</button>
                <p id="nbCamions"></p><br/>
                <p id="favoriteTrucks"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>